<!DOCTYPE html>
<html>
  <head>
    <title>My Blogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/flash" %>
    <div class="app-container">
      <%= yield %>
    </div>
  </body>
</html>
